body { overflow:hidden; position:absolute; height:100%; width:100%; background:#efefef; }

#cube {
  height:30px;
  width:30px;
  margin-top:-9px;
  margin-left:-9px;
  background:red;
  position:absolute;
  top:50%;
  left:50%;   
}
.circleBase {
    border-radius: 50%;
}
.roundCursor {
    width: 20px;
    height: 20px;
    background: red;
    border: 0px solid #000;
}